home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

home_page_title {
    display:block;
    text-align: center;
    color: black;
}

home_page_connexion {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

home_page_forms {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.my_form_row {
    display: flex;
    flex-direction: column;
}

home_page_form_connexion {
}

home_page_form_inscription {
}
