
.dashboard_title {
    display: block;
    background-color: aquamarine;
}

.dashboard_container_services {
    display: flex;
    margin-top: 40px;
    background-color: chartreuse;
    justify-content: space-around;
}

.dashB_service1 {
    width: 45%;
    height: 500px;
    background-color: blue;
}

.dashB_service2 {
    background-color: red;
    width: 45%;
    height: 500px;
}

.dashB_service3 {
    width: 45%;
    height: 500px;
    background-color: pink;
}

.dashB_service4 {
    background-color: rosybrown;
    width: 45%;
    height: 500px;
}
