
.dashboard_title {
    display: block;
    background-color: aquamarine;
}

.dashboard_container_widgets {
    display: flex;
    margin-top: 40px;
    background-color: chartreuse;
    justify-content: space-around;
}

.dashB_widget1 {
    width: 45%;
    height: 500px;
    background-color: blue;
}

.dashB_widget2 {
    background-color: red;
    width: 45%;
    height: 500px;
}

.dashB_widget3 {
    width: 45%;
    height: 500px;
    background-color: pink;
}

.dashB_widget4 {
    background-color: rosybrown;
    width: 45%;
    height: 500px;
}

#map {
    height: 80%;
}